Source: bbb-plugin-live-transcription
Section: web
Priority: extra
Maintainer: Anton Georgiev <anton.georgiev@blindsidenetworks.com>
Build-Depends: debhelper (>= 13), nodejs (>= 22)
Standards-Version: 4.1.4
Homepage: https://github.com/bigbluebutton/bbb-plugin-live-transcription

Package: bbb-plugin-live-transcription
Architecture: all
Depends: ${misc:Depends}, nodejs
Description: Live transcription in BigBlueButton
 An official BigBlueButton plugin which provides
 a panel to the client where the live transcription
 is visible. Users joining via supported browsers
 (Google Chrome currently) can opt in to have their
 browser provide transcription as they speak.